<div class="container">
  <div class="jumbotron">
    <h1 class="display-2">Contact</h1>
    <p class="lead">
      You can reach us in several ways:
    </p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Twitter</h4>
          <p class="card-text lead">
            Come chat on Twitter, give us a follow, and check out our lists for curated tweets of various interests!
          </p>
          <a href="https://www.twitter.com/lightmeankit" class="btn btn-lg btn-info" target="_blank">@lightmeankit</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Twitter</h4>
          <p class="card-text lead">
            Come code on Github, get familiar with the codebase and help make it better!
          </p>
         <a href="https://www.github.com/lightmean" class="btn btn-lg btn-secondary" target="_blank">@lightmean</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Email</h4>
            <p class="card-text lead">
              Finally, the one thing we check the most: Our email... Send us an email and you can expect an answer by the end of the day, or sooner depending on the time of day!
            </p>
           <a href="mailto:lightmeankit@gmail.com" class="btn btn-lg btn-success">lightmeankit@gmail.com</a>
          </div>
        </div>
      </div>
  </div>
</div>
